@page "/"

<h1>Welcome to the dotnet6-maui-blazor-hero-client</h1>

This is an example client MAUI / Blazor hybrid app made with .NET 6.
Click heroes in the navigation menu to play around with heroes.
This app uses the dotnet6-simple-hero-api-example API application which is deployed on a free tier Azure application service.

